:root {
  --pink: #f67acb;
  --purple: #5b1fa6;
  --gray-scale-01: #050110;
  --gray-scale-02: #0f0c1b;
  --gray-scale-03: #3f3d49;
  --gray-scale-04: #57555f;
  --gray-scale-05: #9995a6;
  --gray-scale-06: #acb4bf;
}
